


		
		<!-- //inner banner -->		
		
		<!-- main-content -->
		<div class="wthree-main-content w3layouts-contact">
			<!-- about -->
			<div class="agileits contact">
				<div class="container">
					<h2 class="agile-inner-title">About Us</h2>						
					<!-- about-top -->
					<div class="about-top">
							<div class="agile-about-top-grids">
								<div class="col-md-5 agile-about-top-left">
									<div class="agile-about-top-left-info">
									</div>
								</div>
								<div class="col-md-7 agile-about-top-right">
									<h4>---------------------Title-----------------</h4>
									<p>----------------------text here------------------
									</p>
								</div>
								<div class="clearfix"> </div>
							</div>
					</div>
					<!-- //about-top -->	
				</div>
			</div>
			<!-- // about -->
			<!---->
			<div class="get-started">
				 <div class="container">
					 <h4>We Ready to Help You</h4>
					 <h3>Please Join the Club</h3>
					 <a href="#joinus">Join Us</a>
				 </div>
				 <div class="agileits-layer"></div>
			</div>
			<!---->
			<!-- team -->
			<div class="jarallax team">
				<div class="container">
					<div class="title">
						<h3>Core Members</h3>
					
					</div>
					<div class="agileits-team-grids">
						<div class="col-md-3 agileits-team-grid">
							<div class="team-info">
								<img src="images/t1.jpg" alt="" />
								<div class="team-caption"> 
									<h4>Srivastha Balaji</h4>
									<p>SPM Shols</p>
									<ul>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-3 agileits-team-grid">
							<div class="team-info">
								<img src="images/t2.jpg" alt="" />
								<div class="team-caption"> 
									<h4>Bhabani Sankar Panda</h4>
									<p>SPM MCity</p>
									<ul>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-3 agileits-team-grid">
							<div class="team-info">
								<img src="images/t3.jpg" alt="" />
								<div class="team-caption"> 
									<h4>Catherine Tamilrasi</h4>
									<p>PM MCity</p>
									<ul>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-3 agileits-team-grid">
							<div class="team-info">
								<img src="images/t4.jpg" alt="" />
								<div class="team-caption"> 
									<h4>Jacob Thomas</h4>
									<p>Executor</p>
									<ul>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
					
					
					<br>
					<br>
					
					<div class="agileits-team-grids">
						<div class="col-md-3 agileits-team-grid">
							<div class="team-info">
								<img src="images/t5.jpg" alt="" />
								<div class="team-caption"> 
									<h4>John Benny SelvaRaj</h4>
									<p>Senior System Engineer, MCity</p>
									<ul>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-3 agileits-team-grid">
							<div class="team-info">
								<img src="images/t6.jpg" alt="" />
								<div class="team-caption"> 
									<h4>Prakash Pandi</h4>
									<p>System Engineer MCity</p>
									<ul>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-3 agileits-team-grid">
							<div class="team-info">
								<img src="images/t7.jpg" alt="" />
								<div class="team-caption"> 
									<h4>Ponmurugan A</h4>
									<p>Senior System Enginner, Shols</p>
									<ul>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-3 agileits-team-grid">
							<div class="team-info">
								<img src="images/t8.jpg" alt="" />
								<div class="team-caption"> 
									<h4>Shubham Jaiswal</h4>
									<p>Test Engineer, MCity</p>
									<ul>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
					
					
					
					
				</div>
			</div>
			
			
			
			<!-- //team -->
			<!-- testimonial -->
			<div class="testimonial jarallax">
				<div class="container">
				<div class="title">
					<h3>Infocions Feedback</h3>
					</div>
					<div class="wthree-testimonial-grid">
						<div class="slider">
							<div class="callbacks_container">
								<ul class="rslides" id="slider3">
									<li>
										<div class="w3-agile-testimonial">
											<div class="testimonial-img">
												<img src="images/ts1.jpg" alt="" />
											</div>
											<div class="testimonial-info">
												<h4>Title</h4>
												<p>Details</p>
												<h5>Name</h5>
											</div>
											<div class="clearfix"> </div>
										</div>
									</li>
									<li>
										<div class="w3-agile-testimonial">
											<div class="testimonial-img">
												<img src="images/ts2.jpg" alt="" />
											</div>
											<div class="testimonial-info">
												<h4>Title</h4>
												<p>Details</p>
												<h5>Name</h5>
											</div>
											<div class="clearfix"> </div>
										</div>
									</li>
									<li>
										<div class="w3-agile-testimonial">
											<div class="testimonial-img">
												<img src="images/ts3.jpg" alt="" />
											</div>
											<div class="testimonial-info">
												<h4>Title</h4>
												<p>Details</p>
												<h5>Name</h5>
											</div>
											<div class="clearfix"> </div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- //testimonial -->
		</div>
		<!-- //main-content -->			
		

		
	
	<!-- //login popop responsive tabs -->
	
	<
	<!-- responsive slider js for testimonial -->
		
	

<!-- //html -->
