<br>
<h2 class="agile-inner-title">Enter Debit Detail</h2>	
<div class="agileits-login">
		<form>
			<input type="text" ng-model="cName" placeholder="Name" required=""/>
			<input type="text" ng-model="cAmount" placeholder="Amount" required=""/>
			<input type="text" ng-model="cDate" placeholder="Date" required=""/>
			<input type="text" ng-model="cReason" placeholder="Reason" required=""/>
			<input type="text" ng-model="cLink" placeholder="Product Purchased From" required=""/>
			
			<div class="w3ls-submit">
				<div class="submit-text"> 
				<button class="btn btn-success" ng-click="debit()">Submit</button><br>
				<!--	<input type="submit" value="LOGIN"> -->
				</div>		
			</div>	
		</form>
</div> 