
				
		
		<!-- main-content -->
		<div class="wthree-main-content">
			<!-- Gallery -->
			<div class="agileits gallery">
				<div class="container">
					<h2 class="agile-inner-title">Gallery</h2>
					<div class="gallery">
	
			<h3>Road-Show</h3>
						<a href="#gallery"><img src="images/g1.jpg" alt="Beautiful Image" title="Beautiful Image"/></a>
						<a href="#gallery"><img src="images/g2.jpg" alt="Beautiful Image" title="Beautiful Image"/></a>
						<a href="#gallery"><img src="images/g3.jpg" alt="Beautiful Image" title="Beautiful Image"/></a>
						<!-- while using big image css <div class="clearfix"></div> -->
						<br/>
						<br/>
						<br/>
			<h3>Petit Day</h3>
						<a href="#gallery"><img src="images/g4.jpg" alt="Beautiful Image" title="Beautiful Image"/></a>
						<a href="#gallery"><img src="images/g5.jpg" alt="Beautiful Image" title="Beautiful Image"/></a>
						<a href="#gallery"><img src="images/g6.jpg" alt="Beautiful Image" title="Beautiful Image"/></a>
						
						<!-- while using big image css <div class="clearfix"></div> -->
				<h3>Club Works</h3>		
						<a href="#gallery"><img src="images/g7.jpg" alt="Beautiful Image" title="Beautiful Image"/></a>
						<a href="#gallery"><img src="images/g8.jpg" alt="Beautiful Image" title="Beautiful Image"/></a>
						<a href="#gallery"><img src="images/g9.jpg" alt="Beautiful Image" title="Beautiful Image"/></a>
						<!-- while using big image css <div class="clearfix"></div> -->				
					</div>	
				</div>			
			</div>
		<!-- // Gallery -->
		</div>


